In [2]:
import pandas as pd

In [3]:
csv= "2017.csv"

In [4]:
happiness=pd.read_csv(csv)

In [5]:
happiness.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [6]:
csv2="directory.csv"

In [7]:
directory=pd.read_csv(csv2)

In [8]:
directory.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [9]:
csv3='country_code.csv'

In [10]:
country_code=pd.read_csv(csv3)

In [17]:
country_code=country_code.drop(columns='Unnamed: 0')

In [19]:
country_code.rename(columns={"Country_name": "Country"})

                             Country code_2digit code_3digit
0                        Afghanistan          AF         AFG
1                      Aland Islands          AX         ALA
2                            Albania          AL         ALB
3                            Algeria          DZ         DZA
4                     American Samoa          AS         ASM
5                            Andorra          AD         AND
6                             Angola          AO         AGO
7                           Anguilla          AI         AIA
8                         Antarctica          AQ         ATA
9                Antigua and Barbuda          AG         ATG
10                         Argentina          AR         ARG
11                           Armenia          AM         ARM
12                             Aruba          AW         ABW
13                         Australia          AU         AUS
14                           Austria          AT         AUT
15                        Azerbaijan          AZ         AZE
16                           Bahamas          BS         BHS
17                           Bahrain          BH         BHR
18                        Bangladesh          BD         BGD
19                          Barbados          BB         BRB
20                           Belarus          BY         BLR
21                           Belgium          BE         BEL
22                            Belize          BZ         BLZ
23                             Benin          BJ         BEN
24                           Bermuda          BM         BMU
25                            Bhutan          BT         BTN
26                           Bolivia          BO         BOL
27            Bosnia and Herzegovina          BA         BIH
28                          Botswana          BW         BWA
29                     Bouvet Island          BV         BVT
..                               ...         ...         ...
217                       Tajikistan          TJ         TJK
218     Tanzania, United Republic of          TZ         TZA
219                         Thailand          TH         THA
220                      Timor-Leste          TL         TLS
221                             Togo          TG         TGO
222                          Tokelau          TK         TKL
223                            Tonga          TO         TON
224              Trinidad and Tobago          TT         TTO
225                          Tunisia          TN         TUN
226                           Turkey          TR         TUR
227                     Turkmenistan          TM         TKM
228         Turks and Caicos Islands          TC         TCA
229                           Tuvalu          TV         TUV
230                           Uganda          UG         UGA
231                          Ukraine          UA         UKR
232             United Arab Emirates          AE         ARE
233                   United Kingdom          GB         GBR
234         United States of America          US         USA
235        US Minor Outlying Islands          UM         UMI
236                          Uruguay          UY         URY
237                       Uzbekistan          UZ         UZB
238                          Vanuatu          VU         VUT
239  Venezuela (Bolivarian Republic)          VE         VEN
240                         Viet Nam          VN         VNM
241               Virgin Islands, US          VI         VIR
242        Wallis and Futuna Islands          WF         WLF
243                   Western Sahara          EH         ESH
244                            Yemen          YE         YEM
245                           Zambia          ZM         ZMB
246                         Zimbabwe          ZW         ZWE

[247 rows x 3 columns]

In [26]:
country_code.drop('Unnamed: 0')

KeyError: "['Unnamed: 0'] not found in axis"